<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Header</title>

    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>

<header th:insert="~{fragments/header :: header}"></header>

<div style="margin: 80px 100px">
    <h2>Home Page</h2>
    <p> This is home page </p>
</div>

 <footer th:insert="~{fragments/footer :: vanh}"></footer>
</body>
</html>
